.TeamCard {
  width: 250px;
  height: fit-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

  .myTeam {
    margin-left: 10px;
    opacity: .6;
  }

  &.clickable {
    cursor: pointer;
  }

  .header {
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .teamTitle {
      min-width: 0;
      max-width: 100%;
      font-weight: 300;
      color: #5A665A;
      flex: 1 1 auto;
    }

    .participantsNumber {
      text-align: right;
      width: 20px;
      flex: 0 0 auto;
      font-weight: 400;
    }
  }

  .separator {
    height: 1px;
    width: calc(100% + 20px);
    translate: -10px 0;
    background-color: #DBE2DC;
  }

  .studentEntry {
    width: 100%;
  }

  .teamStatus {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    gap: 5px;
  }

  &.green {
    background-color: #FFFEE0;

    .participantsNumber {
      color: #B8C500;
    }

    .teamStatus {
      color: #B8C500;
    }

    &.myTeam {
      border: 2px rgb(184 197 0 / 0.5) solid;
    }
  }

  &.red {
    background-color: #FFE0E0;

    .participantsNumber {
      color: #C50000;
    }

    .teamStatus {
      color: #C50000;
    }

    &.myTeam {
      border: 2px rgb(197 0 0 / 0.5) solid;
    }
  }

  &.yellow {
    background-color: #FFFEE0;

    .participantsNumber {
      color: #B8C500;
    }

    .teamStatus {
     color: #B8C500;
    }

    &.myTeam {
      border: 2px rgb(184 197 0 / 0.5) solid;
    }
  }
}

.otherMembers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
