@use '../../styles/base' as *;

.header {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 8px 0 16px;
  background-color:#f8fafd ;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  gap: 8px;
}

.left {
  display: flex;
  align-items: center;
  gap: 4px;
}

.menuButton {
  background: none;
  border: none;
  color: #444746;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: large;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.logoButton {
  font-size: 22px;
  font-weight: 500;
  color: #444746;
  text-decoration: none;
  white-space: nowrap;
  padding: 0 8px;

  &:hover {
    color: $classroom-blue;
    text-decoration: none;
  }
}

.breadcrumbs {
  flex: 1;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.87);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ff6d00;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-left: auto;

  &:hover {
    opacity: 0.9;
  }
}
