.buttons {
  display: flex;
  gap: 8px;
}

.editBtn {
  text-transform: none !important;
}

.deleteBtn {
  text-transform: none !important;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 400px;
  padding-top: 8px;
}

.menuButton {
  width: 36px !important;
  height: 36px !important;
  border-radius: 50% !important;
}