@use '../../../../styles/base' as *;

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.empty {
  text-align: center;
  margin-top: 32px;
  color: gray;
}

.error {
  text-align: center;
  margin-top: 32px;
}
