@use 'src/styles/variables' as *;
@use 'src/styles/base' as *;

.bottom-navigation {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: #f8fafd;
}

.main {
  flex: 1;
  overflow-y: auto;
  min-width: 0;
  background-color: $classroom-surface-alt;
  border-top-left-radius: 32px;
}

.language-switcher {
  width: 80px;
}
