/src/Team13.Unicorn.App/tempkey.rsa
/.idea/.idea.Team13.Unicorn.Main/.idea/workspace.xml
/.idea/.idea.Team13.Unicorn.Main/riderModule.iml
/src/Team13.Unicorn.App/Statistics/*.repx
cobertura/report
cobertura/*.xml
