@use "src/styles/variables" as *;
@use "src/styles/mixins" as *;

.btnPrimary {
  text-transform: none !important;
}

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.teamMembers {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.markAll {
  margin-right: 20px !important;
}

.otherMembers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
