@use '../../styles/base' as *;

.root {
  justify-content: center;
  align-items: center;
  flex: 1 1;
  display: flex;
  background: #1a2745 !important;
}

.gridContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  z-index: 2;
}

.mainBackground {
  background: url('/public/assets/login-background.jpg');
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: calc(50% + 52px);
  left: 0;
  top: 0;
  z-index: -1;
}

.appName {
  color: white;
  font-family: Roboto, Sans-Serif;
  margin-bottom: 32px;
  font-size: 64px;
  font-weight: 600;
  width: 288px;
  height: 94px;
  line-height: 96px;
}

.loginContainer {
  box-sizing: border-box;
  background-color: #ffffff;
  max-width: 320px;
  min-width: 320px;
  margin-left: 135px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 20px 24px 20px 24px;
}
