@use '../../styles/base' as *;

.inputField {
  padding-bottom: 15px;
}

.buttonContainer {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.switchSection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.switchText {
  font-size: 12px;
  color: #7e8b8b;
}
